<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="ibox">
                <div class="ibox-content">

                    <!-- #region Header Client -->

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="m-b-md">
                                <a href="#" class="btn btn-white btn-xs float-right">Edite os detalhes do cliente</a>
                                <h2>Zender Company</h2>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>Status:</dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <dd class="mb-1"><span class="label label-primary">Active</span></dd>
                                </div>
                            </dl>
                            <dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>Porte:</dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <dd class="mb-1">Médio</dd>
                                </div>
                            </dl>
                            <dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>Setor:</dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <dd class="mb-1">Agrícola</dd>
                                </div>
                            </dl>
                            <dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>Nome Fantasia:</dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <dd class="mb-1"><a href="#" class="text-navy">Zender Company</a> </dd>
                                </div>
                            </dl>
                        </div>
                        <div class="col-lg-6" id="cluster_info">

                            <dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>Telefone:</dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <dd class="mb-1">+55 11 961383-445</dd>
                                </div>
                            </dl>
                            <dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>Email:</dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <dd class="mb-1">zender.company@zender.com</dd>
                                </div>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <dl class="row mb-0">
                                <div class="col-sm-2 text-sm-right">
                                    <dt>Valor total de projetos:</dt>
                                </div>
                                <div class="col-sm-10 text-sm-left">
                                    <dd>
                                        <div class="progress m-b-1">
                                            <div style="width: 60%;" class="progress-bar progress-bar-striped progress-bar-animated"></div>
                                        </div>
                                        <small>Valor total de <strong>R$ 750.000,00</strong>.</small>
                                    </dd>
                                </div>
                            </dl>
                        </div>
                    </div>

                    <!-- #endregion -->

                    <div class="row m-t-sm">
                        <div class="col-lg-12">
                            <div class="panel blank-panel">
                                <div class="panel-heading">
                                    <div class="panel-options">
                                        <ul class="nav nav-tabs">
                                            <li><a class="nav-link active" href="#tab-1" data-toggle="tab">Contatos</a></li>
                                            <li><a class="nav-link" href="#tab-2" data-toggle="tab">Documentos</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="panel-body">

                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab-1">
                                            <div class="col-lg-12">
                                                <div class="wrapper wrapper-content animated fadeInRight">
                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <div class="contact-box" onclick="onContactClick(this);">
                                                                <a class="row">
                                                                    <div class="col-4">
                                                                        <div class="text-center">
                                                                            <img alt="image" class="rounded-circle m-t-xs img-fluid" src="https://media.licdn.com/dms/image/v2/D4D03AQEerJZZBBAQTQ/profile-displayphoto-shrink_800_800/B4DZcM22u5IAAc-/0/1748267396670?e=1754524800&v=beta&t=6PP9hS47eOELB9r3cCltjjSSXETq21qjLo3vkCLp5mc">
                                                                            <div class="m-t-xs font-bold">Graphics designer</div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-8">
                                                                        <h3><strong>Gustavo Gherardi</strong></h3>
                                                                        <p><i class="fa fa-map-marker"></i>Riviera State 32/106</p>
                                                                        <address>
                                                                            <strong>Twitter, Inc.</strong><br>
                                                                            795 Folsom Ave, Suite 600<br>
                                                                            San Francisco, CA 94107<br>
                                                                            <abbr title="Phone">P:</abbr>
                                                                            (123) 456-7890
                                                                        </address>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-4">
                                                            <div class="contact-box">
                                                                <a class="row" href="profile.html">
                                                                    <div class="col-4">
                                                                        <div class="text-center">
                                                                            <img alt="image" class="rounded-circle m-t-xs img-fluid" src="../Assets/inspinia/img/a1.jpg">
                                                                            <div class="m-t-xs font-bold">CEO</div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-8">
                                                                        <h3><strong>Alex Johnatan</strong></h3>
                                                                        <p><i class="fa fa-map-marker"></i>Riviera State 32/106</p>
                                                                        <address>
                                                                            <strong>Twitter, Inc.</strong><br>
                                                                            795 Folsom Ave, Suite 600<br>
                                                                            San Francisco, CA 94107<br>
                                                                            <abbr title="Phone">P:</abbr>
                                                                            (123) 456-7890
                                                                        </address>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="contact-box">
                                                                <a class="row" href="profile.html">
                                                                    <div class="col-4">
                                                                        <div class="text-center">
                                                                            <img alt="image" class="rounded-circle m-t-xs img-fluid" src="../Assets/inspinia/img/a2.jpg">
                                                                            <div class="m-t-xs font-bold">Graphics designer</div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-8">
                                                                        <h3><strong>John Smith</strong></h3>
                                                                        <p><i class="fa fa-map-marker"></i>Riviera State 32/106</p>
                                                                        <address>
                                                                            <strong>Twitter, Inc.</strong><br>
                                                                            795 Folsom Ave, Suite 600<br>
                                                                            San Francisco, CA 94107<br>
                                                                            <abbr title="Phone">P:</abbr>
                                                                            (123) 456-7890
                                                                        </address>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="contact-box">
                                                                <a class="row" href="profile.html">
                                                                    <div class="col-4">
                                                                        <div class="text-center">
                                                                            <img alt="image" class="rounded-circle m-t-xs img-fluid" src="../Assets/inspinia/img/a3.jpg">
                                                                            <div class="m-t-xs font-bold">Marketing manager</div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-8">
                                                                        <h3><strong>Monica Smith</strong></h3>
                                                                        <p><i class="fa fa-map-marker"></i>Riviera State 32/106</p>
                                                                        <address>
                                                                            <strong>Twitter, Inc.</strong><br>
                                                                            795 Folsom Ave, Suite 600<br>
                                                                            San Francisco, CA 94107<br>
                                                                            <abbr title="Phone">P:</abbr>
                                                                            (123) 456-7890
                                                                        </address>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="contact-box">
                                                                <a class="row" href="profile.html">
                                                                    <div class="col-4">
                                                                        <div class="text-center">
                                                                            <img alt="image" class="rounded-circle m-t-xs img-fluid" src="../Assets/inspinia/img/a4.jpg">
                                                                            <div class="m-t-xs font-bold">Sales manager</div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-8">
                                                                        <h3><strong>Michael Zimber</strong></h3>
                                                                        <p><i class="fa fa-map-marker"></i>Riviera State 32/106</p>
                                                                        <address>
                                                                            <strong>Twitter, Inc.</strong><br>
                                                                            795 Folsom Ave, Suite 600<br>
                                                                            San Francisco, CA 94107<br>
                                                                            <abbr title="Phone">P:</abbr>
                                                                            (123) 456-7890
                                                                        </address>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="contact-box">
                                                                <a class="row" href="profile.html">
                                                                    <div class="col-4">
                                                                        <div class="text-center">
                                                                            <img alt="image" class="rounded-circle m-t-xs img-fluid" src="../Assets/inspinia/img/a5.jpg">
                                                                            <div class="m-t-xs font-bold">Graphics designer</div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-8">
                                                                        <h3><strong>Sandra Smith</strong></h3>
                                                                        <p><i class="fa fa-map-marker"></i>Riviera State 32/106</p>
                                                                        <address>
                                                                            <strong>Twitter, Inc.</strong><br>
                                                                            795 Folsom Ave, Suite 600<br>
                                                                            San Francisco, CA 94107<br>
                                                                            <abbr title="Phone">P:</abbr>
                                                                            (123) 456-7890
                                                                        </address>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="contact-box">
                                                                <a class="row" href="profile.html">
                                                                    <div class="col-4">
                                                                        <div class="text-center">
                                                                            <img alt="image" class="rounded-circle m-t-xs img-fluid" src="../Assets/inspinia/img/a6.jpg">
                                                                            <div class="m-t-xs font-bold">Graphics designer</div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-8">
                                                                        <h3><strong>Janet Carton</strong></h3>
                                                                        <p><i class="fa fa-map-marker"></i>Riviera State 32/106</p>
                                                                        <address>
                                                                            <strong>Twitter, Inc.</strong><br>
                                                                            795 Folsom Ave, Suite 600<br>
                                                                            San Francisco, CA 94107<br>
                                                                            <abbr title="Phone">P:</abbr>
                                                                            (123) 456-7890
                                                                        </address>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="tab-pane" id="tab-2">

                                            <div class="wrapper wrapper-content animated fadeInRight">
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        <div class="ibox ">
                                                            <div class="ibox-content">
                                                                <div class="file-manager">
                                                                    <div class="row">
                                                                        <h5 class="tag-title">Filters</h5>
                                                                        <ul class="tag-list" style="padding: 0">
                                                                            <li><a href="">Family</a></li>
                                                                            <li><a href="">Work</a></li>
                                                                            <li><a href="">Home</a></li>
                                                                            <li><a href="">Children</a></li>
                                                                            <li><a href="">Holidays</a></li>
                                                                            <li><a href="">Music</a></li>
                                                                            <li><a href="">Photography</a></li>
                                                                            <li><a href="">Film</a></li>
                                                                        </ul>
                                                                    </div>
                                                                    <div style="margin: 0 -15px;">
                                                                        <div class="hr-line-dashed"></div>
                                                                        <h5>Folders</h5>
                                                                        <ul class="folder-list" style="padding: 0">
                                                                            <li><a href=""><i class="fa fa-folder"></i>Files</a></li>
                                                                            <li><a href=""><i class="fa fa-folder"></i>Pictures</a></li>
                                                                            <li><a href=""><i class="fa fa-folder"></i>Web pages</a></li>
                                                                            <li><a href=""><i class="fa fa-folder"></i>Illustrations</a></li>
                                                                            <li><a href=""><i class="fa fa-folder"></i>Films</a></li>
                                                                            <li><a href=""><i class="fa fa-folder"></i>Books</a></li>
                                                                        </ul>
                                                                        <br />
                                                                        <div class="clearfix"></div>
                                                                        <button class="btn btn-primary btn-block">Upload Files</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-9 animated fadeInRight">
                                                        <div class="row" style="padding: 0 15px;">
                                                            <div class="col-lg-9" style="margin-left: -15px;">
                                                                <input type="button" class="btn btn-primary" value="< Voltar" style="display: none;" id="btnVoltar" onclick="changeView(false)" />
                                                                <div class="btn-group">
                                                                    <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Adicionar</button>
                                                                    <ul class="dropdown-menu">
                                                                        <li><a class="dropdown-item" href="#">Nova Pasta</a></li>
                                                                        <li><a class="dropdown-item" onclick="fileInput.click()">Upload de Documento</a></li>
                                                                        <li><a class="dropdown-item" href="#">Link do Drive</a></li>
                                                                        <li class="dropdown-divider"></li>
                                                                        <li><a class="dropdown-item" href="#">Solicitar Acesso</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="btn-group" style="margin: 0px 0 15px -15px;">
                                                                    <button type="button" class="btn btn-white"><i class="fa fa-chevron-left"></i></button>
                                                                    <button class="btn btn-white">1</button>
                                                                    <button class="btn btn-white  active">2</button>
                                                                    <button class="btn btn-white">3</button>
                                                                    <button class="btn btn-white">4</button>
                                                                    <button type="button" class="btn btn-white"><i class="fa fa-chevron-right"></i></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="file-box">
                                                                    <div class="file">
                                                                        <a href="#">
                                                                            <span class="corner"></span>
                                                                            <div class="icon">
                                                                                <i class="fa fa-folder"></i>
                                                                            </div>
                                                                            <div class="file-name">
                                                                                Despachante
                                <br />
                                                                                <small>Added: Jan 11, 2014</small>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="file-box">
                                                                    <div class="file">
                                                                        <a href="#">
                                                                            <span class="corner"></span>
                                                                            <div class="icon">
                                                                                <i class="fa fa-folder"></i>
                                                                            </div>
                                                                            <div class="file-name">
                                                                                Despachante
                                <br />
                                                                                <small>Added: Jan 11, 2014</small>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="file-box">
                                                                    <div class="file">
                                                                        <a href="#">
                                                                            <span class="corner"></span>
                                                                            <div class="icon">
                                                                                <i class="fa fa-folder"></i>
                                                                            </div>
                                                                            <div class="file-name">
                                                                                Despachante
                                <br />
                                                                                <small>Added: Jan 11, 2014</small>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="file-box">
                                                                    <div class="file">
                                                                        <a href="#">
                                                                            <span class="corner"></span>

                                                                            <div class="icon">
                                                                                <i class="img-fluid fa fa-film"></i>
                                                                            </div>
                                                                            <div class="file-name">
                                                                                Monica's birthday.mpg4
                                <br />
                                                                                <small>Added: Fab 18, 2014</small>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="file-box">
                                                                    <a href="#">
                                                                        <div class="file">
                                                                            <span class="corner"></span>

                                                                            <div class="icon">
                                                                                <i class="fa fa-bar-chart-o"></i>
                                                                            </div>
                                                                            <div class="file-name">
                                                                                Annual report 2014.xls
                                <br />
                                                                                <small>Added: Fab 22, 2014</small>
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                                <div class="file-box">
                                                                    <div class="file">
                                                                        <a href="#">
                                                                            <span class="corner"></span>

                                                                            <div class="icon">
                                                                                <i class="fa fa-file"></i>
                                                                            </div>
                                                                            <div class="file-name">
                                                                                Document_2014.doc
                                <br />
                                                                                <small>Added: Jan 11, 2014</small>
                                                                            </div>
                                                                        </a>
                                                                    </div>

                                                                </div>
                                                                <div class="file-box">
                                                                    <div class="file">
                                                                        <a href="#">
                                                                            <span class="corner"></span>

                                                                            <div class="image">
                                                                                <img alt="image" class="img-fluid" src="../Assets/inspinia/img/p1.jpg">
                                                                            </div>
                                                                            <div class="file-name">
                                                                                Italy street.jpg
                                <br />
                                                                                <small>Added: Jan 6, 2014</small>
                                                                            </div>
                                                                        </a>

                                                                    </div>
                                                                </div>
                                                                <div class="file-box">
                                                                    <div class="file">
                                                                        <a href="#">
                                                                            <span class="corner"></span>

                                                                            <div class="image">
                                                                                <img alt="image" class="img-fluid" src="../Assets/inspinia/img/p2.jpg">
                                                                            </div>
                                                                            <div class="file-name">
                                                                                My feel.png
                                <br />
                                                                                <small>Added: Jan 7, 2014</small>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="file-box">
                                                                    <div class="file">
                                                                        <a href="#">
                                                                            <span class="corner"></span>

                                                                            <div class="icon">
                                                                                <i class="fa fa-music"></i>
                                                                            </div>
                                                                            <div class="file-name">
                                                                                Michal Jackson.mp3
                                <br />
                                                                                <small>Added: Jan 22, 2014</small>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="file-box">
                                                                    <div class="file">
                                                                        <a href="#">
                                                                            <span class="corner"></span>

                                                                            <div class="image">
                                                                                <img alt="image" class="img-fluid" src="../Assets/inspinia/img/p3.jpg">
                                                                            </div>
                                                                            <div class="file-name">
                                                                                Document_2014.doc
                                <br />
                                                                                <small>Added: Fab 11, 2014</small>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="file-box">
                                                                    <div class="file">
                                                                        <a href="#">
                                                                            <span class="corner"></span>

                                                                            <div class="icon">
                                                                                <i class="img-fluid fa fa-film"></i>
                                                                            </div>
                                                                            <div class="file-name">
                                                                                Monica's birthday.mpg4
                                <br />
                                                                                <small>Added: Fab 18, 2014</small>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="file-box">
                                                                    <a href="#">
                                                                        <div class="file">
                                                                            <span class="corner"></span>

                                                                            <div class="icon">
                                                                                <i class="fa fa-bar-chart-o"></i>
                                                                            </div>
                                                                            <div class="file-name">
                                                                                Annual report 2014.xls
                                <br />
                                                                                <small>Added: Fab 22, 2014</small>
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                                <div class="file-box">
                                                                    <div class="file">
                                                                        <a href="#">
                                                                            <span class="corner"></span>

                                                                            <div class="icon">
                                                                                <i class="fa fa-file"></i>
                                                                            </div>
                                                                            <div class="file-name">
                                                                                Document_2014.doc
                                <br />
                                                                                <small>Added: Jan 11, 2014</small>
                                                                            </div>
                                                                        </a>
                                                                    </div>

                                                                </div>
                                                                <div class="file-box">
                                                                    <div class="file">
                                                                        <a href="#">
                                                                            <span class="corner"></span>

                                                                            <div class="image">
                                                                                <img alt="image" class="img-fluid" src="../Assets/inspinia/img/p1.jpg">
                                                                            </div>
                                                                            <div class="file-name">
                                                                                Italy street.jpg
                                <br />
                                                                                <small>Added: Jan 6, 2014</small>
                                                                            </div>
                                                                        </a>

                                                                    </div>
                                                                </div>
                                                                <div class="file-box">
                                                                    <div class="file">
                                                                        <a href="#">
                                                                            <span class="corner"></span>

                                                                            <div class="image">
                                                                                <img alt="image" class="img-fluid" src="../Assets/inspinia/img/p2.jpg">
                                                                            </div>
                                                                            <div class="file-name">
                                                                                My feel.png
                                <br />
                                                                                <small>Added: Jan 7, 2014</small>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="file-box">
                                                                    <div class="file">
                                                                        <a href="#">
                                                                            <span class="corner"></span>

                                                                            <div class="icon">
                                                                                <i class="fa fa-music"></i>
                                                                            </div>
                                                                            <div class="file-name">
                                                                                Michal Jackson.mp3
                                <br />
                                                                                <small>Added: Jan 22, 2014</small>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="file-box">
                                                                    <div class="file">
                                                                        <a href="#">
                                                                            <span class="corner"></span>

                                                                            <div class="image">
                                                                                <img alt="image" class="img-fluid" src="../Assets/inspinia/img/p3.jpg">
                                                                            </div>
                                                                            <div class="file-name">
                                                                                Document_2014.doc
                                <br />
                                                                                <small>Added: Fab 11, 2014</small>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="file-box">
                                                                    <div class="file">
                                                                        <a href="#">
                                                                            <span class="corner"></span>

                                                                            <div class="icon">
                                                                                <i class="img-fluid fa fa-film"></i>
                                                                            </div>
                                                                            <div class="file-name">
                                                                                Monica's birthday.mpg4
                                <br />
                                                                                <small>Added: Fab 18, 2014</small>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="file-box">
                                                                    <a href="#">
                                                                        <div class="file">
                                                                            <span class="corner"></span>

                                                                            <div class="icon">
                                                                                <i class="fa fa-bar-chart-o"></i>
                                                                            </div>
                                                                            <div class="file-name">
                                                                                Annual report 2014.xls
                                <br />
                                                                                <small>Added: Fab 22, 2014</small>
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  <script>
      $(document).ready(function () {
          $("#pageName").text("Detalhes do Cliente");
          $("#subSecoundPageName").text("Detalhes do Cliente");
          $("#subpageName").text("Clientes");
          $("#subpageName").attr("href", "Clientes.aspx");
          $("#path").show();
      });

      function onContactClick(element) {
          DynamicsModal.openDynamicsModal();
      }
  </script>