<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="GECOM - Landing Page personalizada">
    <meta name="author" content="GECOM">

    <title>GECOM - Landing Page</title>

    <link href="/Assets/inspinia/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Assets/inspinia/css/animate.css" rel="stylesheet">
    <link href="/Assets/inspinia/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/Assets/inspinia/css/style.css" rel="stylesheet">

    <% if (String(landingPageCss || '').trim()) { %>
      <style id="landing-page-published-style"><%- landingPageCss %></style>
    <% } %>
</head>
<body id="page-top" class="landing-page no-skin-config">
<%- landingPageHtml %>

<script src="/Assets/inspinia/js/jquery-3.1.1.min.js"></script>
<script src="/Assets/inspinia/js/popper.min.js"></script>
<script src="/Assets/inspinia/js/bootstrap.js"></script>
<script src="/Assets/inspinia/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/Assets/inspinia/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="/Assets/inspinia/js/inspinia.js"></script>
<script src="/Assets/inspinia/js/plugins/pace/pace.min.js"></script>
<script src="/Assets/inspinia/js/plugins/wow/wow.min.js"></script>
</body>
</html>
