<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <title>GECOM - Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Novo Processo links -->
    <link href="../Assets/inspinia/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="../Assets/inspinia/css/plugins/steps/jquery.steps.css" rel="stylesheet">
    <link href="../Assets/inspinia/css/plugins/dropzone/basic.css" rel="stylesheet">
    <link href="../Assets/inspinia/css/plugins/dropzone/dropzone.css" rel="stylesheet">
    <link href="../Assets/inspinia/css/plugins/datapicker/datepicker3.css" rel="stylesheet">

    <!-- Ícone -->
    <link rel="shortcut icon" href="/Pages/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/Pages/favicon.ico" type="image/x-icon" />

    <!-- CSS -->
    <link href="/Assets/inspinia/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Assets/inspinia/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/Assets/inspinia/css/animate.css" rel="stylesheet" />
    <link href="/Assets/inspinia/css/style.css" rel="stylesheet" />
    <link href="/Assets/inspinia/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet" />

    <!-- JS head -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/Assets/inspinia/js/popper.min.js"></script>
    <script src="/Assets/inspinia/js/bootstrap.min.js"></script>
    <script src="/Assets/inspinia/js/jquery-3.1.1.min.js"></script>
    <script src="/Assets/inspinia/js/inspinia.js"></script>
    <script src="/Assets/inspinia/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/Assets/inspinia/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/Assets/inspinia/js/plugins/pace/pace.min.js"></script>
    <script src="/Assets/inspinia/js/plugins/validate/jquery.validate.min.js"></script>
    <script src="/Assets/inspinia/js/plugins/steps/jquery.steps.min.js"></script>
    <script src="/Assets/js/functionalities/dynamicsModal.js"></script>

    <%- typeof headerLink !== 'undefined' ? headerLink : '' %>
    <style>
      .dynamic-modal {
        display: none;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
        position: fixed;
        left: 75%;
        height: 100%;
        z-index: 999999;
        background-color: rgb(250, 250, 250);
        width: 25%;
        padding: 20px;
        overflow-y: auto;
        top: 0;
      }
    </style>
  </head>
  <body>
    <div id="wrapper">
      <!-- Sidebar -->
      <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
          <ul class="nav metismenu" id="side-menu">
            <li class="nav-header text-center">
              <div class="dropdown profile-element">
                <span>
                  <img alt="image" class="rounded-circle" style="width: 80px;" src="https://media.licdn.com/dms/image/v2/D4D03AQEerJZZBBAQTQ/profile-displayphoto-shrink_800_800/B4DZcM22u5IAAc-/0/1748267396670?e=1762387200&v=beta&t=FDyVnwH0JYhgHCLyaO1A0Qe73RsqByvyc072KI-7Qxs" />
                </span>
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                  <span class="block m-t-xs font-bold">Gustavo Gherardi</span>
                  <span class="text-muted text-xs block">GECOM <b class="caret"></b></span>
                </a>
                <ul class="dropdown-menu animated fadeInRight m-t-xs">
                  <li><a href="#">Perfil</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Sair</a></li>
                </ul>
              </div>
              <div class="logo-element">GC</div>
            </li>
            <li><a href="/Default"><i class="fa fa-home"></i> <span class="nav-label">Dashboard</span></a></li>
            <li><a href="/Processos"><i class="fa fa-file"></i> <span class="nav-label">Processos</span></a></li>
            <li><a href="/MyDocuments"><i class="fa fa-folder"></i> <span class="nav-label">Meus Documentos</span></a></li>
            <li><a href="/Clientes"><i class="fa fa-users"></i> <span class="nav-label">Clientes</span></a></li>
          </ul>
        </div>
      </nav>

      <!-- Conteúdo principal -->
      <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
          <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0;">
            <div class="navbar-header">
              <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" href="#"><i class="fa fa-bars"></i></a>
            </div>
            <ul class="nav navbar-top-links navbar-right">
              <li><a href="/"><i class="fa fa-sign-out"></i> Sair</a></li>
            </ul>
          </nav>
        </div>

        <div class="row wrapper border-bottom white-bg page-heading">
          <div class="col-lg-10">
            <h2 id="pageName"></h2>
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a id="subpageName">Home</a>
              </li>
              <li class="breadcrumb-item" id="path" style="display: none;">
                <a id="subSecoundPageName">Forms</a>
              </li>
              <li class="breadcrumb-item active" id="subpath" style="display: none;">
                <strong id="subpathName">Wizard</strong>
              </li>
            </ol>
          </div>
          <div class="col-lg-2"></div>
        </div>

        <!-- Render page content here -->
        <%- body %>

        <!-- Footer -->
        <div class="footer">
          <div class="float-right">Sistema GECOM</div>
          <div><strong>Copyright</strong> GECOM &copy;</div>
        </div>
      </div>
    </div>

    <%- typeof script !== 'undefined' ? script : '' %>
<%- typeof scripts !== 'undefined' ? scripts : '' %>

  </body>
  
</html>