<style>
    .wizard-big.wizard > .content {
        min-height: 375px !important;
    }

    .form-group > label {
        display: inline-block;
        margin-right: 6px;
    }

    .form-group > label.error,
    .field-validation-error {
        display: inline-block;
        margin-left: 10px;
        font-weight: normal;
        color: #cc5965;
        white-space: nowrap;
        font-size: 12px;
    }
</style>

<div id="wrapper-clientes">
    <div id="page-wrapper-clientes" class="gray-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0; display: none;">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i></a>
                    <form role="search" class="navbar-form-custom" action="search_results.html">
                        <div class="form-group">
                            <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                        </div>
                    </form>
                </div>
            </nav>
        </div>

        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Criação de processo</h5>
                            <div class="ibox-tools"></div>
                        </div>

                        <div class="ibox-content">
                            <p>Preencha as informações do processo.</p>

                            <form id="form" action="#" class="wizard-big">
                                <!-- STEP 1 -->
                                <h1>Detalhes</h1>
                                <fieldset>
                                    <div class="row">
                                        <div class="col-lg-9">
                                            <div class="row">
                                                <div class="form-group col-lg-6">
                                                    <label>Nº do Processo *</label>
                                                    <input id="processnumber" name="processnumber" type="text" class="form-control required">
                                                </div>

                                                <div class="form-group col-lg-6">
                                                    <label>Cliente *</label>
                                                    <div class="input-group m-b">
                                                        <input id="clientName" name="client" type="text" class="form-control required" autocomplete="off" />
                                                        <div class="input-group-append">
                                                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group col-lg-6">
                                                    <label>Tipo de Processo *</label>
                                                    <select class="form-control m-b required" name="processtype" required>
                                                        <option value="">Selecionar...</option>
                                                        <option>Exportação</option>
                                                        <option>Importação</option>
                                                        <option>Nacional</option>
                                                    </select>
                                                </div>

                                                <div class="form-group col-lg-6">
                                                    <label>Contato do Cliente *</label>
                                                    <div class="input-group m-b">
                                                        <input id="clientContact" name="clientContact" type="text" class="form-control required" autocomplete="off" />
                                                        <div class="input-group-append">
                                                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group col-lg-6">
                                                    <label>Invoice Relacionado *</label>
                                                    <input id="invoicenumber" name="invoicenumber" placeholder="Ex: INV-029842" type="text" class="form-control required">
                                                </div>

                                                <div class="form-group col-lg-6">
                                                    <label>Previsão de Término (Entrega) *</label>
                                                    <div class="input-group date">
                                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                        <input id="deliveryForecastDate" type="text" class="form-control datepicker" value="12/01/2026" autocomplete="off">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3">
                                            <div class="text-center">
                                                <div style="margin-top: 20px">
                                                    <i class="fa fa-sign-in" style="font-size: 180px; color: #e5e5e5"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                                <!-- STEP 2 -->
                                <h1>Transporte</h1>
                                <fieldset>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Companhia de transporte *</label>
                                                <input id="transportcompany" name="transportcompany" type="text" class="form-control required" required>
                                            </div>

                                            <div class="form-group">
                                                <label>Contato</label>
                                                <!-- added class phone-mask -->
                                                <input id="transportContactPhone" type="text" autocomplete="off" class="form-control phone-mask" placeholder="(11) 99999-9999">
                                            </div>

                                            <div class="form-group">
                                                <label>Tipo de Transporte *</label>
                                                <select class="form-control m-b required" name="transporttype" required>
                                                    <option value="">Selecionar...</option>
                                                    <option>Aéreo</option>
                                                    <option>Marítimo</option>
                                                    <option>Terrestre</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Origem *</label>
                                                <input type="text" autocomplete="off" placeholder="Digite o país de origem" class="form-control autocompleteCountry" required />
                                            </div>

                                            <div class="form-group">
                                                <label>Destino *</label>
                                                <input type="text" autocomplete="off" placeholder="Digite o país de destino" class="form-control autocompleteCountry" required />
                                            </div>
                                        </div>

                                        <div class="hr-line-dashed"></div>

                                        <div class="col-lg-12">
                                            <div class="row">
                                                <div class="form-group col-lg-4">
                                                    <label>Previsão de Embarque *</label>
                                                    <div class="input-group date">
                                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                        <input id="embarkForecastDate" type="text" class="form-control datepicker" value="13/06/2025" autocomplete="off">
                                                    </div>
                                                </div>

                                                <div class="form-group col-lg-4">
                                                    <label>Tempo de Trânsito (dias) *</label>
                                                    <input id="transitDays" type="number" min="0" step="1" autocomplete="off" class="form-control" required />
                                                </div>

                                                <div class="form-group col-lg-4">
                                                    <label>Previsão Desembarque *</label>
                                                    <div class="input-group date">
                                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                        <!-- readonly to prevent manual change -->
                                                        <input id="landingForecastDate" type="text" class="form-control datepicker" value="13/06/2025" autocomplete="off" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                                <!-- STEP 3 -->
                                <h1>Documentos</h1>
                                <fieldset>
                                    <h3>Adicione documentos do processo</h3>
                                    <div class="ibox-content">
                                        <form action="#" class="dropzone dz-clickable" id="dropzoneForm">
                                            <div class="dz-default dz-message">
                                                <span>
                                                    <strong>Drop files here or click to upload. </strong><br>
                                                    (This is just a demo dropzone. Selected files are not actually uploaded.)
                                                </span>
                                            </div>
                                        </form>
                                    </div>
                                </fieldset>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<% contentFor('scripts') %>
<script src="../Assets/inspinia/js/plugins/steps/jquery.steps.min.js"></script>

<!-- Jquery Validate -->
<script src="../Assets/inspinia/js/plugins/validate/jquery.validate.min.js"></script>
<script src="../Assets/inspinia/js/plugins/iCheck/icheck.min.js"></script>

<!-- Typeahead -->
<script src="../Assets/inspinia/js/plugins/typehead/bootstrap3-typeahead.min.js"></script>

<!-- DROPZONE -->
<script src="../Assets/inspinia/js/plugins/dropzone/dropzone.js"></script>

<!-- Data picker -->
<script src="../Assets/inspinia/js/plugins/datapicker/bootstrap-datepicker.js"></script>

<script>
    // ---------- Dates ----------
    function formatDateBr(date) {
        const day = String(date.getDate()).padStart(2, "0");
        const month = String(date.getMonth() + 1).padStart(2, "0");
        const year = date.getFullYear();
        return `${day}/${month}/${year}`;
    }

    function parseDateBr(value) {
        const text = (value || "").trim();
        const match = /^(\d{2})\/(\d{2})\/(\d{4})$/.exec(text);
        if (!match) return null;

        const day = Number(match[1]);
        const month = Number(match[2]);
        const year = Number(match[3]);

        const date = new Date(year, month - 1, day);
        if (date.getFullYear() !== year || date.getMonth() !== (month - 1) || date.getDate() !== day) {
            return null;
        }
        return date;
    }

    function ensureTodayIfEmpty($input) {
        const currentValue = ($input.val() || "").trim();
        if (!currentValue) {
            $input.val(formatDateBr(new Date()));
        }
    }

    function initDatePickers(scope) {
        const $scope = scope ? $(scope) : $(document);

        $scope.find(".datepicker").each(function () {
            const $input = $(this);

            if ($input.data("datepicker")) {
                return;
            }

            ensureTodayIfEmpty($input);

            $input.datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "dd/mm/yyyy",
                container: "body"
            });
        });
    }

    // ---------- Phone mask (wizard-safe: delegation) ----------
    function applyBrazilPhoneMask(rawValue) {
        const digits = String(rawValue || "").replace(/\D/g, "").slice(0, 11);

        const ddd = digits.slice(0, 2);
        const isMobile = digits.length > 10;

        const part1 = isMobile ? digits.slice(2, 7) : digits.slice(2, 6);
        const part2 = isMobile ? digits.slice(7, 11) : digits.slice(6, 10);

        if (!digits) return "";
        if (digits.length <= 2) return `(${ddd}`;
        if (digits.length <= 6) return `(${ddd}) ${digits.slice(2)}`;
        if (digits.length <= 10) return `(${ddd}) ${part1}-${part2}`.replace(/-$/, "");
        return `(${ddd}) ${part1}-${part2}`;
    }

    // works even if jQuery Steps moves/recreates DOM
    $(document).on("input", "#transportContactPhone, .phone-mask", function () {
        this.value = applyBrazilPhoneMask(this.value);
    });

    // ---------- Auto-calc landing date (wizard-safe: delegation) ----------
    function recalcLandingDate() {
        const embarkValue = $("#embarkForecastDate").val();
        const daysValue = $("#transitDays").val();

        const embarkDate = parseDateBr(embarkValue);
        const transitDays = Number(daysValue);

        if (!embarkDate || Number.isNaN(transitDays)) {
            return;
        }

        const result = new Date(embarkDate);
        result.setDate(result.getDate() + transitDays);

        const formatted = formatDateBr(result);

        const $landing = $("#landingForecastDate");
        $landing.val(formatted);

        if ($landing.data("datepicker")) {
            $landing.datepicker("update", formatted);
        }
    }

    // days typed/changed
    $(document).on("input change", "#transitDays", function () {
        recalcLandingDate();
    });

    // embark typed
    $(document).on("change", "#embarkForecastDate", function () {
        recalcLandingDate();
    });

    // embark picked via bootstrap-datepicker
    $(document).on("changeDate", "#embarkForecastDate", function () {
        recalcLandingDate();
    });

    $(document).ready(function () {
        $("#pageName").text("Novo Processo");
        $("#subSecoundPageName").text("Novo Processo");
        $("#subpageName").text("Processos");
        $("#subpageName").attr("href", "Processos");
        $("#path").show();

        Dropzone.options.dropzoneForm = {
            paramName: "file",
            maxFilesize: 2,
            dictDefaultMessage: "<strong>Drop files here or click to upload. </strong></br> (This is just a demo dropzone. Selected files are not actually uploaded.)"
        };

        // Cliente autocomplete (typeahead)
        setTimeout(function () {
            $("#clientName").typeahead({
                source: [
                    "GECOM", "Convert Solution", "IncaSol", "Cardenas", "Riplast"
                ],
                autoSelect: true
            });
        }, 200);

        // Wizard
        $("#wizard").steps();

        $("#form").steps({
            bodyTag: "fieldset",

            onInit: function () {
                initDatePickers(this);
                recalcLandingDate(); // initial calc
            },

            onStepChanging: function (event, currentIndex, newIndex) {
                if (currentIndex > newIndex) {
                    return true;
                }

                const form = $(this);

                if (currentIndex < newIndex) {
                    $(".body:eq(" + newIndex + ") label.error", form).remove();
                    $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                }

                form.validate().settings.ignore = ":disabled,:hidden";
                return form.valid();
            },

            onStepChanged: function (event, currentIndex) {
                const currentBody = $(this).find(".body").eq(currentIndex);
                initDatePickers(currentBody);

                // Transport step (index 1)
                if (currentIndex === 1) {
                    $(".autocompleteCountry").typeahead({
                        source: [
                            "Afeganistão", "África do Sul", "Albânia", "Alemanha", "Andorra", "Angola", "Antígua e Barbuda", "Arábia Saudita",
                            "Argélia", "Argentina", "Armênia", "Austrália", "Áustria", "Azerbaijão", "Bahamas", "Bangladesh", "Barbados",
                            "Bahrein", "Bélgica", "Belize", "Benin", "Bielorrússia", "Bolívia", "Bósnia e Herzegovina", "Botsuana",
                            "Brasil", "Brunei", "Bulgária", "Burkina Faso", "Burundi", "Butão", "Cabo Verde", "Camarões", "Camboja",
                            "Canadá", "Catar", "Cazaquistão", "Chade", "Chile", "China", "Chipre", "Colômbia", "Comores", "Congo",
                            "Coreia do Norte", "Coreia do Sul", "Costa do Marfim", "Costa Rica", "Croácia", "Cuba", "Dinamarca", "Dominica",
                            "Egito", "El Salvador", "Emirados Árabes Unidos", "Equador", "Eritreia", "Eslováquia", "Eslovênia", "Espanha",
                            "Estados Unidos", "Estônia", "Eswatini", "Etiópia", "Fiji", "Filipinas", "Finlândia", "França", "Gabão", "Gâmbia",
                            "Gana", "Geórgia", "Granada", "Grécia", "Guatemala", "Guiana", "Guiana Francesa", "Guiné", "Guiné-Bissau",
                            "Guiné Equatorial", "Haiti", "Holanda", "Honduras", "Hungria", "Iêmen", "Ilhas Marshall", "Ilhas Salomão",
                            "Índia", "Indonésia", "Irã", "Iraque", "Irlanda", "Islândia", "Israel", "Itália", "Jamaica", "Japão", "Jordânia",
                            "Kiribati", "Kuwait", "Laos", "Lesoto", "Letônia", "Líbano", "Libéria", "Líbia", "Liechtenstein", "Lituânia",
                            "Luxemburgo", "Macedônia do Norte", "Madagascar", "Malásia", "Maláui", "Maldivas", "Mali", "Malta", "Marrocos",
                            "Maurício", "Mauritânia", "México", "Micronésia", "Moçambique", "Moldávia", "Mônaco", "Mongólia", "Montenegro",
                            "Myanmar (Birmânia)", "Namíbia", "Nauru", "Nepal", "Nicarágua", "Níger", "Nigéria", "Noruega", "Nova Zelândia",
                            "Omã", "Palau", "Palestina", "Panamá", "Papua-Nova Guiné", "Paquistão", "Paraguai", "Peru", "Polônia",
                            "Portugal", "Quênia", "Quirguistão", "Reino Unido", "República Centro-Africana", "República Democrática do Congo",
                            "República Dominicana", "República Tcheca", "Romênia", "Ruanda", "Rússia", "São Cristóvão e Nevis", "São Marino",
                            "Santa Lúcia", "São Tomé e Príncipe", "São Vicente e Granadinas", "Seicheles", "Senegal", "Serra Leoa", "Sérvia",
                            "Singapura", "Síria", "Somália", "Sri Lanka", "Sudão", "Sudão do Sul", "Suécia", "Suíça", "Suriname", "Tailândia",
                            "Taiwan", "Tajiquistão", "Tanzânia", "Timor-Leste", "Togo", "Tonga", "Trinidad e Tobago", "Tunísia", "Turcomenistão",
                            "Turquia", "Tuvalu", "Ucrânia", "Uganda", "Uruguai", "Uzbequistão", "Vanuatu", "Vaticano", "Venezuela",
                            "Vietnã", "Zâmbia", "Zimbábue"
                        ],
                        autoSelect: true
                    });

                    recalcLandingDate();
                }
            },

            onFinishing: function () {
                const form = $(this);
                form.validate().settings.ignore = ":disabled";
                return form.valid();
            },

            onFinished: function () {
                const form = $(this);
                form.submit();
                window.location = "Clientes";
            }

        }).validate({
            errorPlacement: function (error, element) {
                const $formGroup = element.closest(".form-group");
                error.addClass("field-validation-error");

                const $label = $formGroup.children("label").first();
                if ($label.length) {
                    error.insertAfter($label);
                    return;
                }

                error.insertAfter(element);
            }
        });

        // Safety init
        initDatePickers(document);
        recalcLandingDate();
    });
</script>
