 <style>
     .fa {
         margin-right: 5px;
     }
 </style>
 
<% contentFor('headerLink') %>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<%  %>
   <div class="row">
      <div class="col-lg-10">
          <div class="wrapper wrapper-content animated fadeInUp">
              <div class="ibox">
                  <div class="ibox-content">
                      <div class="row">
                          <div class="col-lg-12">
                              <div class="m-b-md">
                                  <a href="#" class="btn btn-white btn-xs float-right">Edit project</a>
                                  <h2>Processo PRC-32456236</h2>
                              </div>

                          </div>
                      </div>
                      <div class="row">
                          <div class="col-lg-6">
                              <dl class="row mb-0">
                                  <div class="col-sm-4 text-sm-right">
                                      <dt>Status:</dt>
                                  </div>
                                  <div class="col-sm-8 text-sm-left">
                                      <dd class="mb-1"><span class="label label-primary">Active</span></dd>
                                  </div>
                              </dl>
                              <dl class="row mb-0">
                                  <div class="col-sm-4 text-sm-right">
                                      <dt>Created by:</dt>
                                  </div>
                                  <div class="col-sm-8 text-sm-left">
                                      <dd class="mb-1">Alex Smith</dd>
                                  </div>
                              </dl>
                              <dl class="row mb-0">
                                  <div class="col-sm-4 text-sm-right">
                                      <dt>Invoice:</dt>
                                  </div>
                                  <div class="col-sm-8 text-sm-left">
                                      <dd class="mb-1">INV-09384</dd>
                                  </div>
                              </dl>
                              <dl class="row mb-0">
                                  <div class="col-sm-4 text-sm-right">
                                      <dt>Client:</dt>
                                  </div>
                                  <div class="col-sm-8 text-sm-left">
                                      <dd class="mb-1"><a href="#" class="text-navy">Zender Company</a> </dd>
                                  </div>
                              </dl>
                             
                          </div>
                          <div class="col-lg-6" id="cluster_info">

                              <dl class="row mb-0">
                                  <div class="col-sm-4 text-sm-right">
                                      <dt>Data Estimada de Entrega:</dt>
                                  </div>
                                  <div class="col-sm-8 text-sm-left">
                                      <dd class="mb-1">16.08.2014 12:15:57</dd>
                                  </div>
                              </dl>
                              <dl class="row mb-0">
                                  <div class="col-sm-4 text-sm-right">
                                      <dt>Início do Processo:</dt>
                                  </div>
                                  <div class="col-sm-8 text-sm-left">
                                      <dd class="mb-1">10.07.2014 23:36:57</dd>
                                  </div>
                              </dl>
                              <dl class="row mb-0">
                                  <div class="col-sm-4 text-sm-right">
                                      <dt>Participants:</dt>
                                  </div>
                                  <div class="col-sm-8 text-sm-left">
                                      <dd class="project-people mb-1">
                                          <a href="">
                                              <img alt="image" class="rounded-circle" src="../Assets/inspinia/img/a3.jpg"></a>
                                          <a href="">
                                              <img alt="image" class="rounded-circle" src="../Assets/inspinia/img/a1.jpg"></a>
                                          <a href="">
                                              <img alt="image" class="rounded-circle" src="../Assets/inspinia/img/a2.jpg"></a>
                                          <a href="">
                                              <img alt="image" class="rounded-circle" src="../Assets/inspinia/img/a4.jpg"></a>
                                          <a href="">
                                              <img alt="image" class="rounded-circle" src="../Assets/inspinia/img/a5.jpg"></a>
                                      </dd>
                                  </div>
                              </dl>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-lg-12">
                              <dl class="row mb-0">
                                  <div class="col-sm-2 text-sm-right">
                                      <dt>Completed:</dt>
                                  </div>
                                  <div class="col-sm-10 text-sm-left">
                                      <dd>
                                          <div class="progress m-b-1">
                                              <div style="width: 60%;" class="progress-bar progress-bar-striped progress-bar-animated"></div>
                                          </div>
                                          <small>Project completed in <strong>60%</strong>. Remaining close the project, sign a contract and invoice.</small>
                                      </dd>
                                  </div>
                              </dl>
                          </div>
                      </div>
                      <div class="row m-t-sm">
                          <div class="col-lg-12">
                              <div class="panel blank-panel">
                                  <div class="panel-heading">
                                      <div class="panel-options">
                                          <ul class="nav nav-tabs">
                                              <li><a class="nav-link active" href="#tab-1" data-toggle="tab">Timeline</a></li>
                                              <li><a class="nav-link" href="#tab-2" data-toggle="tab">Histórico do Processo</a></li>
                                              <li><a class="nav-link" href="#tab-3" onclick="loadMapLeft()" data-toggle="tab">Rastreamento</a></li>
                                          </ul>
                                      </div>
                                  </div>

                                  <div class="panel-body">

                                      <div class="tab-content">
                                          <div class="tab-pane active" id="tab-1">
                                              <div class="col-lg-12">
                                                  <div class="ibox ">
                                                      <div id="ibox-content">

                                                          <div id="vertical-timeline" class="vertical-container dark-timeline center-orientation">
                                                              <div class="vertical-timeline-block">
                                                                  <div class="vertical-timeline-icon navy-bg">
                                                                      <i class="fa fa-briefcase"></i>
                                                                  </div>

                                                                  <div class="vertical-timeline-content">
                                                                      <h2>Meeting</h2>
                                                                      <p>
                                                                          Conference on the sales results for the previous year. Monica please examine sales trends in marketing and products. Below please find the current status of the sale.
                                                                      </p>
                                                                      <a href="#" class="btn btn-sm btn-primary">More info</a>
                                                                      <span class="vertical-date">Today
                                                                          <br>
                                                                          <small>Dec 24</small>
                                                                      </span>
                                                                  </div>
                                                              </div>

                                                              <div class="vertical-timeline-block">
                                                                  <div class="vertical-timeline-icon blue-bg">
                                                                      <i class="fa fa-file-text"></i>
                                                                  </div>

                                                                  <div class="vertical-timeline-content">
                                                                      <h2>Send documents to Mike</h2>
                                                                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                                                                      <a href="#" class="btn btn-sm btn-success">Download document </a>
                                                                      <span class="vertical-date">Today
                                                                          <br>
                                                                          <small>Dec 24</small>
                                                                      </span>
                                                                  </div>
                                                              </div>

                                                              <div class="vertical-timeline-block">
                                                                  <div class="vertical-timeline-icon lazur-bg">
                                                                      <i class="fa fa-coffee"></i>
                                                                  </div>

                                                                  <div class="vertical-timeline-content">
                                                                      <h2>Coffee Break</h2>
                                                                      <p>Go to shop and find some products. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's. </p>
                                                                      <a href="#" class="btn btn-sm btn-info">Read more</a>
                                                                      <span class="vertical-date">Yesterday
                                                                          <br>
                                                                          <small>Dec 23</small></span>
                                                                  </div>
                                                              </div>

                                                              <div class="vertical-timeline-block">
                                                                  <div class="vertical-timeline-icon yellow-bg">
                                                                      <i class="fa fa-phone"></i>
                                                                  </div>

                                                                  <div class="vertical-timeline-content">
                                                                      <h2>Phone with Jeronimo</h2>
                                                                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
                                                                      <span class="vertical-date">Yesterday
                                                                          <br>
                                                                          <small>Dec 23</small></span>
                                                                  </div>
                                                              </div>

                                                              <div class="vertical-timeline-block">
                                                                  <div class="vertical-timeline-icon lazur-bg">
                                                                      <i class="fa fa-user-md"></i>
                                                                  </div>

                                                                  <div class="vertical-timeline-content">
                                                                      <h2>Go to the doctor dr Smith</h2>
                                                                      <p>Find some issue and go to doctor. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. </p>
                                                                      <span class="vertical-date">Yesterday
                                                                          <br>
                                                                          <small>Dec 23</small></span>
                                                                  </div>
                                                              </div>

                                                              <div class="vertical-timeline-block">
                                                                  <div class="vertical-timeline-icon navy-bg">
                                                                      <i class="fa fa-comments"></i>
                                                                  </div>

                                                                  <div class="vertical-timeline-content">
                                                                      <h2>Chat with Monica and Sandra</h2>
                                                                      <p>Web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like). </p>
                                                                      <span class="vertical-date">Yesterday
                                                                          <br>
                                                                          <small>Dec 23</small></span>
                                                                  </div>
                                                              </div>
                                                          </div>

                                                      </div>
                                                  </div>
                                              </div>

                                          </div>
                                          <div class="tab-pane" id="tab-2">
                                              <div class="row" style="padding: 0 15px;">
                                                  <div class="col-lg-9" style="margin-left: -15px;">
                                                      <input type="button" class="btn btn-primary" value="< Voltar" style="display: none;" id="btnVoltar" onclick="changeView(false)" />
                                                      <div class="btn-group">
                                                          <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Adicionar</button>
                                                          <ul class="dropdown-menu">
                                                              <li><a class="dropdown-item" href="#">Adicionar Evento</a></li>
                                                              <li><a class="dropdown-item" onclick="fileInput.click()">Upload de Documento</a></li>
                                                              <li><a class="dropdown-item" href="#">Link do Drive</a></li>
                                                              <li class="dropdown-divider"></li>
                                                              <li><a class="dropdown-item" href="#">Adicionar Comentário</a></li>
                                                          </ul>
                                                      </div>
                                                  </div>
                                                  <div class="col-lg-3">
                                                      <div class="btn-group" style="margin: 0px 0 15px -15px;float: inline-end;">
                                                          <button type="button" class="btn btn-white"><i class="fa fa-chevron-left"></i></button>
                                                          <button class="btn btn-white active">1</button>
                                                          <button class="btn btn-white">2</button>
                                                          <button class="btn btn-white">3</button>
                                                          <button class="btn btn-white">4</button>
                                                          <button type="button" class="btn btn-white"><i class="fa fa-chevron-right"></i></button>
                                                      </div>
                                                  </div>
                                              </div>
                                              <table class="table table-striped">
                                                  <thead>
                                                      <tr>
                                                          <th>Status</th>
                                                          <th>Title</th>
                                                          <th>Start Time</th>
                                                          <th>End Time</th>
                                                          <th>Comments</th>
                                                      </tr>
                                                  </thead>
                                                  <tbody>
                                                      <tr>
                                                          <td>
                                                              <span class="label label-primary"><i class="fa fa-check"></i>Completed</span>
                                                          </td>
                                                          <td>Create project in webapp
                                                          </td>
                                                          <td>12.07.2014 10:10:1
                                                          </td>
                                                          <td>14.07.2014 10:16:36
                                                          </td>
                                                          <td>
                                                              <p class="small">
                                                                  Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable.
                                                              </p>
                                                          </td>

                                                      </tr>
                                                      <tr>
                                                          <td>
                                                              <span class="label label-primary"><i class="fa fa-check"></i>Accepted</span>
                                                          </td>
                                                          <td>Various versions
                                                          </td>
                                                          <td>12.07.2014 10:10:1
                                                          </td>
                                                          <td>14.07.2014 10:16:36
                                                          </td>
                                                          <td>
                                                              <p class="small">
                                                                  Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                                                              </p>
                                                          </td>

                                                      </tr>
                                                      <tr>
                                                          <td>
                                                              <span class="label label-primary"><i class="fa fa-check"></i>Sent</span>
                                                          </td>
                                                          <td>There are many variations
                                                          </td>
                                                          <td>12.07.2014 10:10:1
                                                          </td>
                                                          <td>14.07.2014 10:16:36
                                                          </td>
                                                          <td>
                                                              <p class="small">
                                                                  There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which
                                                              </p>
                                                          </td>

                                                      </tr>
                                                      <tr>
                                                          <td>
                                                              <span class="label label-primary"><i class="fa fa-check"></i>Reported</span>
                                                          </td>
                                                          <td>Latin words
                                                          </td>
                                                          <td>12.07.2014 10:10:1
                                                          </td>
                                                          <td>14.07.2014 10:16:36
                                                          </td>
                                                          <td>
                                                              <p class="small">
                                                                  Latin words, combined with a handful of model sentence structures
                                                              </p>
                                                          </td>

                                                      </tr>
                                                      <tr>
                                                          <td>
                                                              <span class="label label-primary"><i class="fa fa-check"></i>Accepted</span>
                                                          </td>
                                                          <td>The generated Lorem
                                                          </td>
                                                          <td>12.07.2014 10:10:1
                                                          </td>
                                                          <td>14.07.2014 10:16:36
                                                          </td>
                                                          <td>
                                                              <p class="small">
                                                                  The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                                                              </p>
                                                          </td>

                                                      </tr>
                                                      <tr>
                                                          <td>
                                                              <span class="label label-primary"><i class="fa fa-check"></i>Sent</span>
                                                          </td>
                                                          <td>The first line
                                                          </td>
                                                          <td>12.07.2014 10:10:1
                                                          </td>
                                                          <td>14.07.2014 10:16:36
                                                          </td>
                                                          <td>
                                                              <p class="small">
                                                                  The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                                                              </p>
                                                          </td>

                                                      </tr>
                                                      <tr>
                                                          <td>
                                                              <span class="label label-primary"><i class="fa fa-check"></i>Reported</span>
                                                          </td>
                                                          <td>The standard chunk
                                                          </td>
                                                          <td>12.07.2014 10:10:1
                                                          </td>
                                                          <td>14.07.2014 10:16:36
                                                          </td>
                                                          <td>
                                                              <p class="small">
                                                                  The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                                                              </p>
                                                          </td>

                                                      </tr>
                                                      <tr>
                                                          <td>
                                                              <span class="label label-primary"><i class="fa fa-check"></i>Completed</span>
                                                          </td>
                                                          <td>Lorem Ipsum is that
                                                          </td>
                                                          <td>12.07.2014 10:10:1
                                                          </td>
                                                          <td>14.07.2014 10:16:36
                                                          </td>
                                                          <td>
                                                              <p class="small">
                                                                  Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable.
                                                              </p>
                                                          </td>

                                                      </tr>
                                                      <tr>
                                                          <td>
                                                              <span class="label label-primary"><i class="fa fa-check"></i>Sent</span>
                                                          </td>
                                                          <td>Contrary to popular
                                                          </td>
                                                          <td>12.07.2014 10:10:1
                                                          </td>
                                                          <td>14.07.2014 10:16:36
                                                          </td>
                                                          <td>
                                                              <p class="small">
                                                                  Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
                                                              </p>
                                                          </td>

                                                      </tr>

                                                  </tbody>
                                              </table>

                                          </div>
                                          <div class="tab-pane" id="tab-3">
                                              <div id="map" style="height: 500px;"></div>
                                          </div>
                                      </div>

                                  </div>

                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-2">
          <div class="wrapper wrapper-content project-manager">
              <h4>Descrição do Processo</h4>
              <img src="../Assets/inspinia/img/zender_logo.png" class="img-fluid">
              <p class="small">
                  Importação de carros antigos.
              </p>
              <p class="small font-bold">
                  <span><i class="fa fa-circle text-warning"></i>Prioridade Alta</span>
              </p>
             
              <h5>Documentos do processo</h5>
              <ul class="list-unstyled project-files">
                  <li><a href=""><i class="fa fa-file"></i>Project_document.docx</a></li>
                  <li><a href=""><i class="fa fa-file-picture-o"></i>Logo_zender_company.jpg</a></li>
                  <li><a href=""><i class="fa fa-stack-exchange"></i>Email_from_Alex.mln</a></li>
                  <li><a href=""><i class="fa fa-file"></i>Contract_20_11_2014.docx</a></li>
              </ul>
              <div class="m-t-md">
                  <input type="button" class="btn btn-xs btn-primary" value="Adicionar Documentos" onclick="openLoadFile()" />
                  <input type="file" style="display: none;" id="fileInput" />

              </div>
          </div>
      </div>
  </div>

<% contentFor('scripts') %>
    <!-- Jvectormap -->
    <script src="../Assets/inspinia/js/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="../Assets/inspinia/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<%  %>

   <script>
     $(document).ready(function () {
         $("#pageName").text("Detalhes do Processo");
         $("#subSecoundPageName").text("Detalhes do Processo");
         $("#subpageName").text("Processos");
         $("#subpageName").attr("href", "Processos.aspx");
         $("#path").show();

     });
     $(document).ready(function () {

         $('#loading-example-btn').click(function () {
             btn = $(this);
             simpleLoad(btn, true)

             // Ajax example
             //                $.ajax().always(function () {
             //                    simpleLoad($(this), false)
             //                });

             simpleLoad(btn, false)
         });

     });

     function openLoadFile() {
         $("#fileInput").click();
     }

     function loadMapLeft() {
         setTimeout(function () {
             // Inicializa o mapa centralizado e com zoom inicial
             var map = L.map('map').setView([0, 0], 2);

             // Adiciona o mapa base (OpenStreetMap)
             L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                 maxZoom: 18,
             }).addTo(map);

             // Coordenadas dos pontos
             var points = [
                 {
                     coords: [38.7169, -9.1399],
                     name: 'Lisboa, Portugal'
                 },
                 {
                     coords: [-33.9249, 18.4241],
                     name: 'Cape Town, África do Sul'
                 },
                 {
                     coords: [-22.9068, -43.1729],
                     name: 'Rio de Janeiro, Brasil'
                 }
             ];

             // Adiciona os markers no mapa
             points.forEach(function (point) {
                 L.marker(point.coords)
                     .addTo(map)
                     .bindPopup(`<b>${point.name}</b>`)
                     .openPopup();
             });

             // Desenha a linha conectando os pontos
             var latlngs = points.map(p => p.coords);

             var polyline = L.polyline(latlngs, {
                 color: 'red',
                 weight: 3
             }).addTo(map);

             // Ajusta o zoom para caber todos os pontos e linhas
             map.fitBounds(polyline.getBounds());
         }, 500);
     }


     function simpleLoad(btn, state) {
         if (state) {
             btn.children().addClass('fa-spin');
             btn.contents().last().replaceWith(" Loading");
         } else {
             setTimeout(function () {
                 btn.children().removeClass('fa-spin');
                 btn.contents().last().replaceWith(" Refresh");
             }, 2000);
         }
     }
 </script>